Flask==1.1.1
glob2==0.7
h5py==2.10.0
image==1.5.27
imageio==2.5.0
imagesize==1.1.0
json5==0.8.4
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.17.3
numpydoc==0.9.1
pandas==0.24.2
pickleshare==0.7.5
python-resize-image==1.1.19
scikit-image==0.15.0
scikit-learn==0.21.3
spyder==3.3.6
spyder-kernels==0.5.1

